In [3]:
def count_integers(filename):
    # Create an empty dictionary to store the counts of integers
    integer_counts = {}

    # Open the file and read the integers line by line
    with open(filename, 'r') as file:
        for line in file:
            try:
                integer = int(line.strip())  # Convert the line to an integer
                # Update the count for the integer in the dictionary
                integer_counts[integer] = integer_counts.get(integer, 0) + 1
            except ValueError:
                print(f"Warning: Invalid integer found in the file: {line}")

    return integer_counts

# Provide the filename of the text file containing the list of integers

In [4]:
filename = "treatmentfacilities.txt"
result = count_integers(filename)

# Display the counts of each integer
for integer, count in result.items():
    print(f"{integer}: {count}")

1: 32
4: 9
3: 1
5: 4
7: 18
9: 7
10: 31
12: 5
11: 1
13: 3
15: 16
14: 2
16: 7
17: 5
19: 545
21: 26
22: 1
23: 6
24: 5
27: 13
28: 3
29: 4
30: 345
31: 18
33: 109
34: 47
35: 4
36: 52
37: 148
38: 29
39: 13
40: 9
41: 21
42: 29
43: 32
44: 18
45: 8
47: 2
48: 11
49: 23
50: 13
51: 3
53: 1
54: 15
52: 1
55: 1
56: 50
57: 3
58: 3

In [6]:
import pandas as pd
code = pd.read_csv("countycode.csv")

In [7]:
code

    COUNTY CODE           COUNTY
0             1          ALAMEDA
1             2           ALPINE
2             3           AMADOR
3             4            BUTTE
4             5        CALAVERAS
5             6           COLUSA
6             7           CONTRA
7             8        DEL NORTE
8             9        EL DORADO
9            10           FRESNO
10           11            GLENN
11           12         HUMBOLDT
12           13         IMPERIAL
13           14             INYO
14           15             KERN
15           16            KINGS
16           17             LAKE
17           18           LASSEN
18           19      LOS ANGELES
19           20           MADERA
20           21            MARIN
21           22         MARIPOSA
22           23        MENDOCINO
23           24           MERCED
24           25            MODOC
25           26             MONO
26           27         MONTEREY
27           28             NAPA
28           29           NEVADA
29           30           ORANGE
30           31           PLACER
31           32           PLUMAS
32           33        RIVERSIDE
33           34       SACRAMENTO
34           35       SAN BENITO
35           36   SAN BERNARDINO
36           37        SAN DIEGO
37           38    SAN FRANCISCO
38           39      SAN JOAQUIN
39           40  SAN LUIS OBISPO
40           41        SAN MATEO
41           42    SANTA BARBARA
42           43      SANTA CLARA
43           44       SANTA CRUZ
44           45           SHASTA
45           46           SIERRA
46           47         SISKIYOU
47           48           SOLANO
48           49           SONOMA
49           50       STANISLAUS
50           51           SUTTER
51           52           TEHAMA
52           53          TRINITY
53           54           TULARE
54           55         TUOLUMNE
55           56          VENTURA
56           57             YOLO
57           58             YUBA

In [9]:
results = pd.DataFrame(result)

ValueError: If using all scalar values, you must pass an index

In [10]:
result

{1: 32,
 4: 9,
 3: 1,
 5: 4,
 7: 18,
 9: 7,
 10: 31,
 12: 5,
 11: 1,
 13: 3,
 15: 16,
 14: 2,
 16: 7,
 17: 5,
 19: 545,
 21: 26,
 22: 1,
 23: 6,
 24: 5,
 27: 13,
 28: 3,
 29: 4,
 30: 345,
 31: 18,
 33: 109,
 34: 47,
 35: 4,
 36: 52,
 37: 148,
 38: 29,
 39: 13,
 40: 9,
 41: 21,
 42: 29,
 43: 32,
 44: 18,
 45: 8,
 47: 2,
 48: 11,
 49: 23,
 50: 13,
 51: 3,
 53: 1,
 54: 15,
 52: 1,
 55: 1,
 56: 50,
 57: 3,
 58: 3}

In [16]:
import pandas as pd

# Given data as a string
data_str = """1: 32
4: 9
3: 1
5: 4
7: 18
9: 7
10: 31
12: 5
11: 1
13: 3
15: 16
14: 2
16: 7
17: 5
19: 545
21: 26
22: 1
23: 6
24: 5
27: 13
28: 3
29: 4
30: 345
31: 18
33: 109
34: 47
35: 4
36: 52
37: 148
38: 29
39: 13
40: 9
41: 21
42: 29
43: 32
44: 18
45: 8
47: 2
48: 11
49: 23
50: 13
51: 3
53: 1
54: 15
52: 1
55: 1
56: 50
57: 3
58: 3"""

# Separate the keys and values into lists
keys = []
values = []
for line in data_str.split('\n'):
    k, v = line.split(':')
    keys.append(int(k))
    values.append(int(v))

# Convert the lists to a DataFrame
df = pd.DataFrame({'Key': keys, 'Value': values})

df['COUNTY CODE'] = df['Key']

In [17]:
merged = pd.merge(df, code)

In [18]:
merged

    Key  Value  COUNTY CODE           COUNTY
0     1     32            1          ALAMEDA
1     4      9            4            BUTTE
2     3      1            3           AMADOR
3     5      4            5        CALAVERAS
4     7     18            7           CONTRA
5     9      7            9        EL DORADO
6    10     31           10           FRESNO
7    12      5           12         HUMBOLDT
8    11      1           11            GLENN
9    13      3           13         IMPERIAL
10   15     16           15             KERN
11   14      2           14             INYO
12   16      7           16            KINGS
13   17      5           17             LAKE
14   19    545           19      LOS ANGELES
15   21     26           21            MARIN
16   22      1           22         MARIPOSA
17   23      6           23        MENDOCINO
18   24      5           24           MERCED
19   27     13           27         MONTEREY
20   28      3           28             NAPA
21   29      4           29           NEVADA
22   30    345           30           ORANGE
23   31     18           31           PLACER
24   33    109           33        RIVERSIDE
25   34     47           34       SACRAMENTO
26   35      4           35       SAN BENITO
27   36     52           36   SAN BERNARDINO
28   37    148           37        SAN DIEGO
29   38     29           38    SAN FRANCISCO
30   39     13           39      SAN JOAQUIN
31   40      9           40  SAN LUIS OBISPO
32   41     21           41        SAN MATEO
33   42     29           42    SANTA BARBARA
34   43     32           43      SANTA CLARA
35   44     18           44       SANTA CRUZ
36   45      8           45           SHASTA
37   47      2           47         SISKIYOU
38   48     11           48           SOLANO
39   49     23           49           SONOMA
40   50     13           50       STANISLAUS
41   51      3           51           SUTTER
42   53      1           53          TRINITY
43   54     15           54           TULARE
44   52      1           52           TEHAMA
45   55      1           55         TUOLUMNE
46   56     50           56          VENTURA
47   57      3           57             YOLO
48   58      3           58             YUBA